<% include partials/header-bg-image %>
            <div class='mx-2'>    
                <div class="container jumbotron py-2 px-4 my-5 mw-500">
                    <h1 class="display-4">Bikepile</h1>
                    <p class="lead">A place to list your bikes, past and present.</p>
                    <p class="lead">
                        <a class="btn btn-primary btn-lg" href="bikes" role="button">View bikes</a>
                    </p>
                </div>
            </div>    
<% include partials/footer %>


