<% include ../partials/header %>
            <div class='container'>
                <div class='mw-500 mx-auto'>
                    <h1 style='text-align: center'>Add a new bike</h1>
                    <form method='POST' action='/bikes'>
                        <div class='form-group'>
                            <input class='form-control' type='text' placeholder='Enter bike name' name='name' required></input>
                        </div>
                        <div class='form-group'>
                            <input class='form-control' type='text' placeholder='Enter image URL' name='image' required pattern='^(http:\/\/www\.|https:\/\/www\.|http:\/\/|https:\/\/)?[a-z0-9]+([\-\.]{1}[a-z0-9]+)*\.[a-z]{2,5}(:[0-9]{1,5})?(\/.*)?$'></input>
                        </div>
                        <div class='form-group'>
                            <input class='form-control' type='text' placeholder='Year owned from (YYYY)' name='owned_from' required pattern='[0-9]{4}'></input>
                        </div>
                        <div class='form-group'>
                            <input class='form-control' type='text' placeholder='Year owned to (YYYY or present)' name='owned_to' required pattern='[0-9]{4}|\bpresent\b'></input>
                        </div>
                        <div class='form-group'>
                            <input class='btn btn-lg btn-block btn-primary' type='submit'></input>
                        </div>
                    </form>
                    <button id='go-back' class='btn btn-lg btn-outline-danger btn-block'>Cancel</button>
                </div>
            </div>
<% include ../partials/footer %>